<div>
    <button mat-raised-button color='primary'>{{ title }}</button>
</div>

<app-header></app-header>

<app-add-form (addTodoItem)=addTodoItem($event)></app-add-form>

<app-todo-items></app-todo-items>
<!-- <app-todo-items [Items]=todoItems></app-todo-items> -->

<h2>Directive Demo</h2>
<div>
    <button appBsButton="danger" mouseDownClass="primary">Button with Attribute Directive</button>
</div>

<div>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
</div>